/*********** ANIMATION ************/


/*.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation:
    typing 1s steps(20, end) forwards;
}
@keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity:  1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/*********** HEADER ************/
header {
    /*text-align: right;*/
    color: #B9A9AD;
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
    margin: 10px;

}

#logo{
    font-family: 'Julius Sans One', sans-serif;
}

/*********** BODY ************/
body {
    color: #2F4858;
    font-family: 'Crimson Pro', serif;

}
footer {
    margin-top: 100px;
    font-size: 16px;
}
h2 {
    font-size: 20px;
}
.main-center {
    text-align:  center;
}
#main-center-name {
    font-family: 'Julius Sans One', sans-serif;
    font-size:  96px;
    /*color: #FFF5F4;*/
    background: #FFF5F4;

    margin-top: 200px;
    animation: slideInFromTop 0.75s ease-out 0s 1;
}
#main-center-title {
    font-family: 'Julius Sans One', sans-serif;
    font-size:  96px;
    /*color: #FFF5F4;*/
    margin-top: 100px;
    margin-bottom: 20px;
    background: #FFF5F4;
    transition-duration: 2s;
    transition-property: background;
}


#main-center-desc {
    font-family: 'Crimson Pro';
    font-size: 36px;
    color: #2F4858;/*#B9A9AD;*/
    margin-top: 80px;
    padding-bottom: 100px;
    animation: slideInFromLeft 1s ease-out 0s 1;
}

.text-navbar {
    font-size:  24px;
}
.ease {
    transition-timing-function: ease;
}
.bg-lightpink {
    background-color: #FFF5F4;
    /*animation: slide;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;*/
}
.bg-darkpink {
    background-color: #B9A9AD;
}
.bg-darkgreen {
    background-color: #2F4858;
}
.text-darkgreen {
    color:  #2F4858;
}
.text-darkpink {
    color:  #B9A9AD;
}
.text-lightpink {
    color: #FFF5F4;
}



.navbar.solid {
  background-color: #FFF5F4;
  transition: background-color 1s ease 0s;
}
